<div class="container">
    <h1>NBAexperience</h1>
    <p>Bienvenid@ a la nueva generación del baloncesto</p>
    <a class="btn btn-outline btn-dark" href="/players">Ver jugadores</a>
    <a class="btn btn-outline btn-dark" href="/teams">Ver equipos</a>
</div>